{% extends 'base.html.twig' %}

{% block title %}Réunions{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/calendar.css">{% endblock %}

{% block content %}
    
	<section class="py-2 mb-5">
	<h2 class="py-3">Réunions </h2>
	    <!-- <div class="row">
	        <div class="col-md-7 py-4">
			<h3 class= "d-flex justify-content-center py-2">Calendrier des réunions</h3>
			    <div class="body-calendar">
			        <div class="elegant-calencar">
			          	<div id="header-calendar" class="clearfix">
			            	<div class="pre-button"><</div>
			            	<div class="head-info">
				                <div class="head-day"></div>
				                <div class="head-month"></div>
			            	</div>
			            	<div class="next-button">></div>
			          	</div>
			          	<table id="calendar">
				            <thead>
				                <tr>
				                    <th>Lun</th>
		                          	<th>Mar</th>
		                          	<th>Mer</th>
		                          	<th>Jeu</th>
		                          	<th>Ven</th>
		                          	<th>Sam</th>
		                          	<th>Dim</th>
				                </tr>
				            </thead>
				            <tbody>
				                <tr>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                </tr>
				                <tr>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                </tr>
				                <tr>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                </tr>
				                <tr>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                </tr>
				                <tr>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                </tr>
				                <tr>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                    <td></td>
				                </tr>
				            </tbody>
			          	</table>
		          	</div>
		        </div>
	      	</div>
	        <div class="offset-md-1 col-md-4">
			<h3 class= " py-2">Evènements</h3>
		        <div class="view">
		            <p>Test</p>
		        </div>
	        </div>
		</div> -->
		<h3>Réunions à venir</h3>
		{% for reuNonPassee in reusNonPassees %}
			<div class="card-deck my-4">
			  	<div class="card">
				  	<div class="card-header ">
						<div class="card-title py-2">
				          	<a title="Afficher la reunion" class="btn btn-primary float-right" data-dt="{{ reuNonPassee.getDatetimeReu()|date('Y-m-d H:i') }}" href="{{ path('view_reunion', {id : reuNonPassee.getId()}) }}" role="button"><i class="far fa-eye"></i></a>
							<b>{{ reuNonPassee.getTitre() }}</b>, le {{ reuNonPassee.getDatetimeReu()|date("d/m/Y") }} (<em>{{ reuNonPassee.getTypeReu() }}</em>) 					
			  			</div>
						<div class="card-footer small text-muted mb-2">
							Mise à jour le {{ reuNonPassee.getDatetimePost()|date("d/m/Y") }}
						</div>
				    </div>
				</div>
			</div>
		{%  endfor %} 


		<h3>Réunions passées</h3>
		{% for reunionPassee in reunionsPassees %}
		  	<div class="card-deck my-4">
		    	<div class="card">
			  	  	<div class="card-header"> 
			  			<div class="card-title py-2">
			  	            <a title="Afficher la reunion" class="btn btn-primary float-right" href="{{ path('view_reunion', {id : reunionPassee.getId()}) }}" role="button"><i class="far fa-eye"></i></a>
			  				<b>{{ reunionPassee.getTitre() }}</b>, le {{ reunionPassee.getDatetimeReu()|date("d/m/Y") }} (<em>{{ reunionPassee.getTypeReu() }}</em>)
			  			</div>
			  			<div class="card-footer small text-muted mb-2">
			  				Mise à jour le {{ reunionPassee.getDatetimePost()|date("d/m/Y") }}
			  			</div>
			  	    </div>
		  		</div>
		  	</div>
		{%  endfor %} 
	</section>

{% endblock %}

{% block javascripts %}<script type="text/javascript" src="/js/calendar.js"></script>{% endblock %}
