{% extends 'admin.html.twig' %}

{% block title %}Réunions{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/styles_back.css">{% endblock %}

{% block content %}
    
	<section class="p-2 mb-5 bg-light bg-section-back">
	<h2>Réunions </h2>
		<h3 class="card-header">Liste des réunions sans CR</h3>
		{% if reuSansCr is defined %}
			{% for reuSansCr in reusSansCr %}
			  	<div class="card-deck my-4 alert alert-warning">
			    	<div class="card">
				  	  	<div class="card-header">
				  			<div class="card-title py-2">
				  				<a class="btn btn-danger float-right mx-1" href="{{ path('del_reunion', {id : reuSansCr.getId()}) }}" role="button">Supprimer</a>
				  				<a class="btn btn-success float-right mx-1" href="{{ path('add_cr', {id : reuSansCr.getId()}) }}" role="button">Ajouter le CR</a>	
				  	            <a class="btn btn-primary float-right px-1" href="{{ path('view_reunion', {id : reuSansCr.getId()}) }}" role="button">Visualiser (sur le site)</a>
				  				<b>{{ reuSansCr.getTitre() }}</b>, le {{ reuSansCr.getDatetimeReu()|date("d/m/Y") }} (<em>{{ reuSansCr.getTypeReu() }}</em>)
				  			</div>		     
				  			<div class="card-footer small text-muted mb-2">
				  				Publié le {{ reuSansCr.getDatetimePost()|date("d/m/Y") }}
				  			</div>
				  	    </div>
			  		</div>
			  	</div>
			{%  endfor %} 
		{% else %}
		  	<div class="card-deck my-4 ">
		    	<div class="card">
			  	  	<div class="card-header">
			  			<div class="card-title py-2">
			  	            <p>Aucune réunion en attente de compte-rendu.</p>
			  			</div>
			  	    </div>
		  		</div>
		  	</div>
		{% endif %}
		<h3>Liste des réunions à venir</h3>
		{% for reuNonPassee in reusNonPassees %}
			<div class="card-deck my-4">
			  	<div class="card">
				  	<div class="card-header ">
						<div class="card-title py-2">
							<a class="btn btn-danger float-right mx-1" href="{{ path('del_reunion', {id : reuNonPassee.getId()}) }}" role="button">Supprimer</a>
							<a class="btn btn-success float-right mx-1" href="{{ path('edit_reunion', {id : reuNonPassee.getId()}) }}" role="button">Modifier</a>
				          	<a class="btn btn-primary float-right mx-1" href="{{ path('view_reunion', {id : reuNonPassee.getId()}) }}" role="button">Visualiser (sur le site)</a>
							<b>{{ reuNonPassee.getTitre() }}</b>, le {{ reuNonPassee.getDatetimeReu()|date("d/m/Y") }} (<em>{{ reuNonPassee.getTypeReu() }}</em>) 

			  			</div>
						<div class="card-footer small text-muted mb-2">
							Publiée le {{ reuNonPassee.getDatetimePost()|date("d/m/Y") }}
						</div>
				    </div>
				</div>
			</div>
		{%  endfor %} 
		<h3>Liste des réunions passées</h3>
		{% for reunionPassee in reunionsPassees %}
		  	<div class="card-deck my-4">
		    	<div class="card">
			  	  	<div class="card-header"> 
			  			<div class="card-title py-2">
			  				<a class="btn btn-danger float-right mx-1" href="{{ path('del_reunion', {id : reunionPassee.getId()}) }}" role="button">Supprimer</a>
			  				{#<a class="btn btn-success float-right mx-1" href="{{ path('edit_cr', {id : crTrouve.getId()}) }}" role="button">Modifier le CR</a>#}
			  	            <a class="btn btn-primary float-right mx-1" href="{{ path('view_reunion', {id : reunionPassee.getId()}) }}" role="button">Visualiser (sur le site)</a>
			  				<b>{{ reunionPassee.getTitre() }}</b>, le {{ reunionPassee.getDatetimeReu()|date("d/m/Y") }} (<em>{{ reunionPassee.getTypeReu() }}</em>)
			  			</div>
			  			<div class="card-footer small text-muted mb-2">
			  				Publiée le {{ reunionPassee.getDatetimePost()|date("d/m/Y") }}
			  			</div>
			  	    </div>
		  		</div>
		  	</div>
		{%  endfor %} 
	</section>

{% endblock %}

{% block javascripts %}<script type="text/javascript" src="/js/calendar.js"></script>{% endblock %}
