{% extends 'base.html.twig' %}

{% block title %}Détails d'une réunion{% endblock %}

{% block content %}
	<section class="py-2 mb-5">
	    <h2>Détails de réunion  </h2>
		<a href="{{ path('index_reunions') }}" class="btn btn-secondary mt-4 " role="button"><i class="fas fa-angle-left"></i> Retour à la liste des réunions</a>
		<div class="card-deck my-4">
			<div class="card mb-3">
			    <div class="card-header">
			    	<h3><b>{{ reunionTrouvee.getTitre() }}</b></h3>
			    </div>
		        <div class="card-title">
		        	<p>
		        	<span> Le {{ reunionTrouvee.getDatetimeReu()|date("d/m/Y") }} à {{ reunionTrouvee.getDatetimeReu()|date("H:i") }} (<em>{{ reunionTrouvee.getTypeReu() }})</em>. </span>
		        		<span> Lieu : {{ reunionTrouvee.getLieuReu() }}</span>
		        	</p> 
				</div>
	  			<div class="card-body">
	  				<p>Ordre du jour : {{ reunionTrouvee.getContenu() }}</p>
		  			<p><em>Proposé par : {{ reunionTrouvee.getUser().getPrenom() ?? '' }}, le {{reunionTrouvee.getDatetimePost()|date("d/m/Y")}}</em></p>        
			    </div>	
			    {% if crTrouve is not empty %}
				    <div class="card-title">
				    	<h4>Compte-Rendu</h4>
				    </div>
				    <div class="card-body">
				    	<p>
				    		<span><b>{{ crTrouve.getTitre() }}</b><br></span>
			            	<span>{{ crTrouve.getContenu() }}</span> 
			           		<span> Publié le {{ crTrouve.getDatetimePost()|date("d/m/Y") }} à {{ crTrouve.getDatetimePost()|date("H:i") }}  
			            	{% if crTrouve.getDatetimeModif() is defined %}
			       		 		,<em> modifié le {{ crTrouve.getDatetimeModif()|date("d/m/Y") }} à {{ crTrouve.getDatetimeModif()|date("H:i") }}</em> 
			       			{% endif %}
			       				- par {{ crTrouve.getUser().getPrenom() ?? '' }}.</span>	
			            </p>
			        </div>
			    {% endif %}   		              
			</div>
		</div>
	</section>
{% endblock %}
