{% extends 'base.html.twig' %}

{% block title %}Détails d'une réunion{% endblock %}

{% block content %}
	<section class="py-2 mb-5">
		<div class="card mb-3">
			<a href="{{ path('index_reunions') }}" class="btn btn-secondary mt-4" role="button"><i class="fas fa-angle-left"></i> Retour à la liste des réunions</a>
		    <h2>Détails de réunion  </h2>
		  	<div class="card-header">
		    	<i class="fas fa-table"></i>{{ reunionTrouvee.getTitre() }}
		    </div>
		  	<div class="card-body">
			    <div class="table-responsive">
			      <div class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
			        
			        <div class="card-deck">
			          <div class="card-header">
			          	<div class="card-title">
			          	 <b>	
				            Intitulé de la réunion
				            Type de réunion
				            Date et heure 
				            Lieux
				            Contenu de la réunion
				            Proposé par 
				            Compte-rendu 
				          </b>
				         </div>
					  </div>
			            
			          
			        
			        
			          
			            {{ reunionTrouvee.getTitre() }} 
			            {{ reunionTrouvee.getTypeReu() }} 
			            Le {{ reunionTrouvee.getDatetimeReu()|date("d/m/Y") }} à {{ reunionTrouvee.getDatetimeReu()|date("H:i") }} 
			            {{ reunionTrouvee.getLieuReu() }} 
			            {{ reunionTrouvee.getContenu() }} 
			            {{ reunionTrouvee.getUser().getPrenom() ?? '' }} 
			            {{ crTrouve.getUser().getPrenom() ?? '' }} 

			        </div>  
			            	{% if crTrouve is not null %}
			            	<a class="btn btn-success btn-block" href="{{ path('edit_cr', {id : crTrouve.getId()}) }}" role="button">Modifier le CR</a>
			            	{% else %}
			            	<a class="btn btn-success btn-block" href="{{ path('add_cr', {id : reunionTrouvee.getId()}) }}" role="button">Ajouter le CR</a>
			            	<a class="btn btn-primary btn-block" href="{{ path('edit_reunion', {id : reunionTrouvee.getId()}) }}" role="button">Modifier</a>
			            	{% endif %}
			            	<a class="btn btn-danger btn-block" href="{{ path('del_reunion', {id : reunionTrouvee.getId()}) }}" role="button">Supprimer</a>
			            
			        

			      </div>
			    </div>
			</div>
			<div class="card-footer small text-muted">Reunion postée le  {{reunionTrouvee.getDatetimePost()|date("d/m/Y")}}</div>
		</div>
	</section>
{% endblock %}
