{% extends 'admin.html.twig' %}

{% block title %}Détails d'une réunion{% endblock %}

{% block content %}
	<section class="py-2 mb-5">
	    <div class="d-flex justify-content-between">
			
			<a href="{{ path('index_reunions') }}" class="btn btn-secondary mt-4" role="button"><i class="fas fa-angle-left"></i> Retour à la liste des réunions - <em>Sur le site</em> </a>
			{% if crTrouve is not empty %}
				<a href="{{ path('edit_cr', {id : reunionTrouvee.getId()}) }}" class="btn btn-primary mt-4" role="button">Modifier le compte-rendu</a>
			{% else %}
				<a href="{{ path('add_cr', {id : reunionTrouvee.getId()}) }}" class="btn btn-primary mt-4" role="button">Ajouter un  compte-rendu</a>
			{% endif %}
			{% if bouton == true %}
				<a class="btn btn-success mt-4" href="{{ path('edit_reunion', {id : reunionTrouvee.getId()}) }}" role="button">Modifier</a>
			{% endif %}
			<a href="{{ path('index_back_reunions') }}" class="btn btn-secondary mt-4 " role="button">Retour à la gestion des réunions <i class="fas fa-angle-right"></i></a> 
			
		</div>
		<div class="card-deck my-4">
			<div class="card mb-3">
			    <div class="card-header">
			    	<h2>{{ reunionTrouvee.getTitre() }}</h2>
			    </div>
		        <div class="card-title m-3">
		        	<p class="mb-1">Le {{ reunionTrouvee.getDatetimeReu()|date("d/m/Y") }} à {{ reunionTrouvee.getDatetimeReu()|date("H:i") }} (<em>{{ reunionTrouvee.getTypeReu() }})</em>.</p>
		        	<p>Lieu : {{ reunionTrouvee.getLieuReu() }}</p> 
				</div>
	  			<div class="card-body pt-1">
	  				<p>Ordre du jour : {{ reunionTrouvee.getContenu() }}</p>
		  			<p><em>Proposé par : {{ reunionTrouvee.getUser().getPrenom() ?? '' }}, le {{reunionTrouvee.getDatetimePost()|date("d/m/Y")}}</em></p>        
			    </div>	
			    {% if crTrouve is not empty %}
				    <div class="card-header">
				    	<h3>Compte-Rendu</h3>
				    </div>
				    <div class="card-body">
			    		<p><b>{{ crTrouve.getTitre() }}</b></p>
		            	<p>{{ crTrouve.getContenu() }}</p>
		           		<p>Publié le {{ crTrouve.getDatetimePost()|date("d/m/Y") }} à {{ crTrouve.getDatetimePost()|date("H:i") }}
		              	{% if crTrouve.getDatetimeModif() is defined %}
		       		 		,<em> modifié le {{ crTrouve.getDatetimeModif()|date("d/m/Y") }} à {{ crTrouve.getDatetimeModif()|date("H:i") }}</em> 
		       			{% endif %}
		       				- par {{ crTrouve.getUser().getPrenom() ?? '' }}.</p>	
			        </div>
			    {% endif %}   		              
			</div>
		</div>
	</section>
{% endblock %}
