{% extends 'base.html.twig' %}

{% block title %}
	Amicale BMW Moto 38
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/stylesaccueil.css" >
{% endblock %}

{% block content %}

	<section class="py-2 mb-5">
		<h2 class="pb-5 pt-5">Bienvenue <img src="/images/peacehand-reverse.png" style="width:50px; height:50px; transform: rotate(0.1turn);"></h2>
		<div class="swiper-container">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide">
					<div class="cardSwip">
						<div class="sliderText">
							<h3>Prochaine balade</h3>
						</div>
						<div class="content">
							{% if nextbalade is not empty %}
								<p>{{nextbalade.Titre}}</p>
								<p>le {{nextbalade.DateDebut|date("d/m/Y")}}</p>
								<a class="cadre" href="{{ path('view_balade', {id : nextbalade.Id}) }}">En savoir plus</a>
							{% else %}
								<p>En attente de vos propositions</p>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="cardSwip">
						<div class="sliderText bg-secondary">
							<h3>Prochaine réunion</h3>
						</div>
						<div class="content">
							{% if reunion is not empty %}
								<p>{{reunion.Titre}}</p>
								<p>le {{reunion.datetimeReu|date("d/m/Y")}}</p>
								<a class="cadre" href="{{ path('view_reunion', {id : reunion.Id}) }}">En savoir plus</a>
							{% else %}
								<p>En attente de vos propositions</p>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="cardSwip">
						<div class="sliderText">
							<h3>Dernière balade</h3>
						</div>
						<div class="content">
							{% if lastbalade is not empty %}
								<p>{{lastbalade.Titre}}</p>
								<p>le {{lastbalade.DateDebut|date("d/m/Y")}}</p>
								<a class="cadre" href="{{ path('view_balade', {id : lastbalade.Id}) }}">En savoir plus</a>
							{% else %}
								<p>En attente de vos propositions</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section bleue !-->
	<section class="mb-5 blue">
		<h2 class="pb-5">Qui sommes-nous ?</h2>
		<p>Amicale de motards de l' Isère, notre objectif est de partager le plaisir de rouler dans un esprit de convivialité 
		et de solidarité avec tous les passionnés de moto.</p>
	</section>
	<section class="py-5 mb-5">
		<div class="row">
			<div class="col-md-6 py-3">
				<div class="d-flex justify-content-center align-items-center h-100">
					<a href="{{ path('inscription_user') }}" class="subscribe"><svg><rect></rect></svg>Inscrivez-vous</a>
				</div>
			</div>
			<div class="col-md-6 py-3">
				<div>
					<p>Les bons comptes font les bons amis, c'est la raison pour laquelle vous devez créer le votre afin de rejoindre notre belle et grande famille, pour cela rien de plus simple il vous suffit de cliquer sur le joli bouton ci-dessus.</p>
					<p>ça serait cool, par exemple, que lorsque la personne est inscrite/connectée, cette section soit remplacé par la map, par exemple -- mais comme c'est censé être publiqu / perso j'ai du mal avec cette idée mais bon // peut être qu'on peut mettre la map à la place de la présentation (section précédente)</p>
				</div>
			</div>
		</div>
	</section>
	<section class="py-5 mb-5 parallax" >

		<h2 class="text-white">Contactez nous</h2>

	  	<div class="container">
	    	<div class="card card-register mx-auto mt-5 pb-5 mb-5">
        		<div class="card-body">
        			<form method="post">
            			<div class="form-group">
            				<div class="form-row">
                				<div class="col-md-6">
                					<div class="form-group">
                    					<label for="lastName">Nom</label>
                    					<input type="text" id="lastName" name="lastname" class="form-control" value="{{donnees_saisies.lastname ?? ''}}" required>
                					</div>
                				</div>
                				<div class="col-md-6">
                  					<div class="form-group">
                    					<label for="firstName">Prénom</label>
                    					<input type="text" id="firstName" name="firstname" class="form-control" value="{{donnees_saisies.firstname ?? ''}}" required>
                  					</div>
                				</div>
            				</div>
            			</div>
            			<div class="form-group">
              				<div class="form-row">
                				<div class="col-md-6">
                					<div class="form-group">
						                <label for="email">Adresse email</label>
						                <input type="email" id="email" name="email" class="form-control" value="{{donnees_saisies.email ?? ''}}" required>
                  					</div>
                				</div>
                				<div class="col-md-6">
                  					<div class="form-group">
					                    <label for="phone">Numéro de Téléphone</label>
					                    <input type="text" id="phone" name="phone" class="form-control" value="{{donnees_saisies.phone ?? ''}}" maxlength="10" required>
                					</div>
                				</div>
                				<div class="col-md-12">
    	            				<div class="form-group">
				    	                <label for="message">Message</label>
				    	                <textarea name="message" id="message" class="form-control" required placeholder="Votre message ici" rows="5">{{donnees_saisies.message ?? ''}}</textarea>
    	        					</div>
            					</div>
            				</div>
            			</div>
			            {% if errors is not empty %}
			                <div class="alert alert-warning">
			                    {{ errors|join('<br>')|raw }} 
			                </div>
			            {% elseif success == true %}
			                <div class="alert alert-success">
			                    Merci pour votre message <strong>{{donnees_saisies.firstname}}</strong> ! Nous l'avons bien reçu et le traiterons dans les plus brefs délais.
			                </div>
			            {% endif %}
            			<div class="form-group">
                			<input type="submit" class="btn btn-primary btn-block" value="Envoyer le message">
            			</div>
          			</form>
        		</div>
    		</div>
    	</div>
	</section>
	<section class="py-5 mb-5">
		<h2 class="pb-5">Portfolio</h2>
		<div class="content ml-4 pr-4">
			<div class="row">
				<div class="col-md-4"> 
					<figure>
						<a href="{{ path('index_albums') }}">
							<img src="/images/1568232400-trek-dans-le-piemont-sept-2016-067-44723713955-o.jpg" class="figure-img img-fluid rounded img-port h-auto">
						</a>
					</figure>
				</div>
				<div class="col-md-4"> 
					<figure>
						<a href="{{ path('index_albums') }}">
							<img src="/images/1568232508-trek-dans-le-piemont-sept-2016-083-30696778987-o.jpg" class="figure-img img-fluid rounded img-port h-auto">
						</a>
					</figure>
				</div>
				<div class="col-md-4"> 
					<figure>
						<a href="{{ path('index_albums') }}">
							<img src="/images/1568232514-trek-dans-le-piemont-sept-2016-084-30696845677-o.jpg" class="figure-img img-fluid rounded img-port h-auto">
						</a>
					</figure>
				</div>
				<div class="col-12"> 
					<figure>
						<a href="{{ path('index_albums') }}">
							<img src="/images/35875846200_dff261cba6_k.jpg" class="figure-img img-fluid rounded img-port h-auto">
						</a>
					</figure>
				</div>
			</div>
		</div>
	</section>


{% endblock %}

{% block javascripts %}

	<script src="/js/swiper.min.js"></script>
	<script>
		var swiper = new Swiper('.swiper-container', {
	      effect: 'coverflow',
	      grabCursor: true,
	      centeredSlides: true,
	      slidesPerView: 'auto',
	      coverflowEffect: {
	        rotate: 30,
	        stretch: 0,
	        depth: 200,
	        modifier: 1,
	        slideShadows : true,
	      },
	      pagination: {
	        el: '.swiper-pagination',
	      },
	    });
	</script>

{% endblock %}
