{% extends 'admin.html.twig' %}

{% block title %}Gestion Balades{% endblock %}

{% block content %}

	<section class="py-2 mb-5">
		<h2>Titre pour la gestion et la validation des balades</h2>

		
		<div class="card-deck my-4">
			<div class="card">
				<div class="card-header">Liste des balades</div>
				<div class="card-body">
					<div class="table-responsive">
					  	<!-- <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> -->
					  	<table>
						    <thead>
								<tr class="text-center align-top">
									<th>Titre</th>
									<th>Dates</th>
									<th>Proposée par</th>
									<th>Date<br>d'ajout</th>
									<th>Dernière<br>modification</th>
									<th>Statut</th>
									<th>Nombre<br>d'inscrits</th>
									<th>Actions</th>
								</tr>
						    </thead>
						    <tbody>
						      	{% for bal_data in bal_datas %}
									<tr class="text-center">
										<td><strong>{{ bal_data.balade.getTitre() }}</strong></td>
										<td>{{ bal_data.balade.getDateDebut()|date('d/m/Y') ~ ' - ' ~ bal_data.balade.getDateDebut()|date('d/m/Y') }}</td>
										<td>{{ bal_data.balade.getUser().getPrenom() ~ ' ' ~ bal_data.balade.getUser().getNom() }}</td>
										<td>{{ bal_data.balade.getDatetimePost()|date('d/m/Y H:i') }}</td>
										<td>{% if bal_data.balade.getDatetimeModif() is not null %}{{ bal_data.balade.getDatetimeModif|date('d/m/Y H:i') }}{% endif %}</td>
										
										{% if bal_data.balade.getBalActive() %}
											{% if bal_data.balade.getInscActive() %}
												<td class='text-success font-weight-bold'>{{ 'Ouvert' }}</td>
											{% else %}
												<td class='text-danger font-weight-bold'>{{ 'Fermé' }}</td>
											{% endif %}
										{% else %}
												<td class='text-secondary font-italic'>{{ 'En attente<br>de validation' }}</td>
										{% endif %}

										</td>
										<td{% if bal_data.baladeFull %}{{ ' class="font-weight-bold"' }}{% endif %}>
											{{ bal_data.nbInscrits }}
											{% if bal_data.balade.getNbMaxPers() is not null %}{{ ' / ' ~ bal_data.balade.getNbMaxPers() }}{% endif %}
										</td>
										<td class="d-flex justify-content-around">
											{% if bal_data.balade.getBalActive() %}
												{% if bal_data.balade.getInscActive() %}
													<a title="Clôturer les inscriptions" class="btn btn-warning" href="{{path('cloturer_inscriptions', {id: bal_data.balade.getId()})}}" role="button"><i class="fas fa-lock-open"></i></i></a>
												{% else %}
													<a title='Réouvrir les inscriptions'class="btn btn-warning" href="{{path('ouvrir_inscriptions', {id: bal_data.balade.getId()})}}" role="button"><i class="fas fa-lock"></i></a>
												{% endif %}
													<a title='Gérer les inscrits'class="btn btn-info" href="{{path('gestion_inscrits', {id: bal_data.balade.getId()})}}" role="button"><i class="fas fa-users-cog"></i></a>
													<a title='Gérer les photos' class="btn btn-primary" href="{{path('gestion_inscrits', {id: bal_data.balade.getId()})}}" role="button"><i class="fas fa-images"></i></a>
											{% else %}
													<a title="Valider la proposition" class="btn btn-success" href="{{path('valider_balade', {id: bal_data.balade.getId()})}}" role="button"><i class="fas fa-check"></i></a>
											{% endif %}
											

											<a title="Modifier la balade" class="btn btn-dark" href="{{ path('edit_balade', {id: bal_data.balade.getId()}) }}" role="button"><i class="fas fa-edit"></i></a>
											{% if bal_data.balade.getBalActive() %}
												<a 	title="Supprimer la balade" 
													class="btn btn-danger" 
													href="{{ path('del_balade', {id: bal_data.balade.getId()}) }}" 
													role="button" 
													data-toggle="modal" 
													data-target="#modalDelete"
													data-content="Vous êtes sur le point de supprimer la balade <strong>{{ bal_data.balade.getTitre() }}</strong> de manière irréversible. Êtes-vous sûr(e) de vouloir continuer ?">
													<i class="fas fa-trash-alt"></i>
												</a>
											{% else %}
												<a 	title="Refuser la proposition" 
													class="btn btn-danger" 
													href="#" 
													role="button"
													data-toggle="modal" 
													data-target="#modalDelete">
													<i class="fas fa-times"></i>
												</a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
						    </tbody>
					  	</table>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
