{% extends 'admin.html.twig' %}

{% block title %}Gestion Balades{% endblock %}

{% block content %}

	<section class="py-2 mb-5">
		<h2>Titre pour la gestion et la validation des balades</h2>

		
		<div class="card-deck my-4">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						<strong>Liste des balades</strong>
					</div>
					<div class="card-body">
						<!-- <div class="table-responsive"> -->
						  	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							    <thead>
									<tr>
										<th class="text-center align-top">Titre</th>
										<th class="text-center align-top">Début</th>
										<th class="text-center align-top">Fin</th>
										<th class="text-center align-top">Proposée par</th>
										<th class="text-center align-top">Date d'ajout</th>
										<th class="text-center align-top">Dernière modification</th>
										<th class="text-center align-top">Etat</th>
										<th class="text-center align-top">Nombre d'inscrits</th>
										<th class="text-center align-top">Actions</th>
									</tr>
							    </thead>
							    <tbody>
							      	{% for bal_data in bal_datas %}
										<tr>
											<td>{{ bal_data.balade.getTitre() }}</td>
											<td>{{ bal_data.balade.getDateDebut()|date('d/m/Y') }}</td>
											<td>{{ bal_data.balade.getDateFin()|date('d/m/Y') }}</td>
											<td>{{ bal_data.balade.getUser().getPrenom() ~ ' ' ~ bal_data.balade.getUser().getNom() }}</td>
											<td>{{ bal_data.balade.getDatetimePost()|date('d/m/Y H:i') }}</td>
											<td>{% if bal_data.balade.getDatetimeModif() is not null %}{{ bal_data.balade.getDatetimeModif|date('d/m/Y H:i') }}{% endif %}</td>
											
											{% if bal_data.balade.getBalActive() %}
													<td class='text-success font-weight-bold'>{{ 'Ouvert' }}</td>
											{% else %}
													<td class='text-danger font-weight-bold'>{{ 'Fermé' }}</td>
											{% endif %}

											</td>
											<td{% if bal_data.baladeFull %}{{ ' class="font-weight-bold"' }}{% endif %}>
												{{ bal_data.nbInscrits }}
												{% if bal_data.balade.getNbMaxPers() is not null %}{{ ' / ' ~ bal_data.balade.getNbMaxPers() }}{% endif %}
											</td>
											<td>
												<a title="Valider la proposition" class="btn btn-success" href="#" role="button"><i class="fas fa-check"></i></a>
												<a title="Clôturer les inscriptions" class="btn btn-warning" href="#" role="button"><i class="fas fa-lock"></i></i></a>
												<a title='Réouvrir les inscriptions'class="btn btn-primary" href="#" role="button"><i class="fas fa-lock-open"></i></a>
												<a title='Gérer les inscrits'class="btn btn-info" href="#" role="button"><i class="fas fa-users-cog"></i></a>
												<a title="Modifier la balade" class="btn btn-dark" href="#" role="button"><i class="fas fa-edit"></i></a>
												<a title="Supprimer la balade" class="btn btn-danger" href="#" role="button"><i class="fas fa-trash-alt"></i></a>
											</td>
										</tr>
									{% endfor %}
							    </tbody>
						  	</table>
						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
