{% extends 'base.html.twig' %}

{% block title %}Balades{% endblock %}


{% block content %}
	{% for bal in balades %}
		<div>
			<div>{{ bal.getTitre() }}</div>
			<div>{{ bal.getContenu() }}</div>

			{% if bal.getDateDebut() == bal.getDateFin() %}
				<div>le {{ bal.getDateDebut() }}</div>
			{% else %}
				<div>du {{ bal.getDateDebut() }} au {{ bal.getDateFin() }}</div>
			{% endif %}

			<div>
				Posté par 
				{{ bal.getUser().getNom() ~ ' ' ~ bal.getUser().getPrenom() }} 
				le 
				{{ bal.getDatetimePost()|date('d/m/Y') }} 
				à 
				{{ bal.getDatetimePost()|date('H:i') }}
			</div>
		</div>
	{% endfor %}

	
{% endblock %}
