{% extends 'base.html.twig' %}

{% block title %}{{ balade.getTitre() }}{% endblock %}

{% block content %}
	<div class="pb-5">

		<a href="{{ path('index_balades') }}" class="btn btn-secondary mt-4" role="button"><i class="fas fa-angle-left"></i> Retour aux balades</a>
		
		<div class="card-deck my-4">
			<div class="card">
				<div class="card-header">
					<div class="card-title">

						<!-- INSCRIPTION A BALADE -->

						{% if 'adherent' in app.session.get('ranks') %}

							{% if not inscrit %}

								<a href="{{ path('inscription_balade', {id: balade.getId()}) }}" class="btn btn-success float-right ml-4" role="button">S'inscrire</a>

							{% else %}

								<a href="{{ path('desinscription_balade', {id: balade.getId()}) }}" class="btn btn-danger float-right ml-4" role="button">Se Désinscrire</a>
							
							{% endif %}

						{% endif %}

						<div class="float-right">S'inscrire</div>



						<!-- CONTENU 'STATIQUE' -->
						<strong>{{ balade.getTitre() }}</strong>
						{% if balade.getDateDebut() == balade.getDateFin() %}
							<div>le {{ balade.getDateDebut()|date('d/m/Y') }}</div>
						{% else %}
							<div>du {{ balade.getDateDebut()|date('d/m/Y') }} au {{ balade.getDateFin()|date('d/m/Y') }}</div>
						{% endif %}
				   </div>
				</div>
				<div class="card-body">{{ balade.getContenu() }}</div>
				<div class="card-footer">
					<i>Posté par 
						{{ balade.getUser().getPrenom() ~ ' ' ~ balade.getUser().getNom() }} 
						le 
						{{ balade.getDatetimePost()|date('d F Y') }} 
						à 
						{{ balade.getDatetimePost()|date('H:i') }}
					</i>
				</div>
			</div>
		</div>
{% endblock %}
