{% extends 'base.html.twig' %}

{% block title %}balade{% endblock %}

{% block content %}
	<div class="pb-5">
		
		<div class="card-deck my-5">
			<div class="card">
				<div class="card-header">
					<div class="card-title">
						{{ balade.getTitre() }}
				   </div>


					<div class="card-body">{{ balade.getContenu() }}</div>
					<div class="card-footer">
						Posté par 
							{{ balade.getUser().getNom() ~ ' ' ~ balade.getUser().getPrenom() }} 
							le 
							{{ balade.getDatetimePost()|date('d/m/Y') }} 
							à 
							{{ balade.getDatetimePost()|date('H:i') }}
					</div>
				</div>
			</div>
		</div>
{% endblock %}
