{% extends 'admin.html.twig' %}

{% block title %}Gestion Photos{% endblock %}

{% block content %}

	<form id="add-photo-form" method="post" enctype="multipart/form-data" style="width: 0; height: 0;">
		<input id="add-photo-input" name="photo" type="file" style="visibility: hidden;">
	</form>

	<div id="dyn-errors">
		{% if errors is not empty %}
			<div class="alert alert-warning">{{ errors|join('<br>')|raw }}</div>
		{% elseif success == true %}
			<div class="alert alert-success">L'avatar a été modifié avec succès</div>
		{% endif %}
	</div>

	<section class="py-2 mb-5 container">
		<div class="d-flex justify-content-between">
			<span>
				{% if 'bureau' in app.session.get('ranks') %}
					<a href="{{ path('gestion_balades') }}" class="btn btn-secondary" role="button"><i class="fas fa-angle-left"></i> Retour</a>
				{% else %}
					<a href="{{ path('index_balades') }}" class="btn btn-info" role="button"><i class="fas fa-angle-left"></i> Retour</a>
				{% endif %}
			</span>
			<span>
				
			</span>
		</div>	
		<div class="card-deck my-4">
			<div class="card">
				<div class="card-header">
					<div class="d-flex justify-content-between align-items-center">
						<span>
							<a id="add-photo-btn" title="Ajouter une photo" class="btn btn-success" href="" role="button"><i class="fas fa-plus"></i></a>
							<span>&nbsp;Liste des photos - {{ balade.getTitre() }}</span>
						</span>
						<span>
							{% if 'bureau' in app.session.get('ranks') %}
							<a title="Retour à l'album (site)" class="btn btn-info" href="{{ path('index_balades') }}" role="button"><i class="fas fa-globe-europe"></i></a>
							{% endif %}
						</span>
					</div>
					
				</div>
				<div class="card-body">
					<div class="scrolling-table">
						<table class="admin-table-mg">
							<thead>
								<th>#</th>
								<th class="text-left">Photo</th>
								<th>Actions</th>
							</thead>
							
							<tbody>
						      	{% for photo in photos %}
									<tr>
										<td class="text-center">
										    {% set i = ( i | default(0) ) + 1 %}{{i}}
										</td>
										<td>
											<figure class="admin-fig-photo">
											    <a href="{{ '/' ~ uploadDir ~ photo.getFileName() }}" data-fancybox="images" data-caption="{{ photo.getLegende() }}">
											        <img class="img-fluid" src="{{ '/' ~ uploadDir ~ photo.getFileName() }}">
											    </a>   
											</figure>
										</td>
										<td class="d-flex justify-content-center align-items-center flex-nowrap">
											<span>
												<div>
													<a 	title="Supprimer la photo" 
														class="btn btn-danger" 
														href="{{ path('del_photo', {id: photo.getId()}) }}" 
														role="button" 
														data-toggle="modal" 
														data-target="#modalDelete"
														data-content="Vous êtes sur le point de supprimer une photo liée à la balade <strong>{{ balade.getTitre() }}</strong> de manière irréversible. Êtes-vous sûr(e) de vouloir continuer ?">
														<i class="fas fa-times"></i>
													</a>
												</div>
											</span>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
			      	
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block javascripts %}

	<script>
		$(document).ready(function() {

			$('#add-photo-btn').click(function() {

					alert('oups');


				


				$('#add-photo-input').trigger('click');

			});
			
			$('#add-photo-input').change(function() {


				alert('batard');

				// $('#js-error-size').remove();

				// $form = $(this).closest('#add-photo-form');

					$('#add-photo-form').trigger('submit');
				// if(this.files[0].size < {{ maxFileSize }}) {
				// }
				// else {
				// 	$('#dyn-errors').find('.alert').remove();
				// 	$('#dyn-errors').append('<div id="js-error-size" class="alert alert-warning">Fichier trop volumineux pour être traîté</div>');
				// }
			});

			


		});
	</script>

{% endblock %}