{% extends 'admin.html.twig' %} 

{% block title %}Liste des adhérent·es{% endblock %}

{% block content %}


<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Liste des adhérent·es</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date adhésion</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for adherentTrouve in adherentsTrouves %}
          <tr>
            <td>{{ adherentTrouve.getNom() }} </td>
            <td>{{ adherentTrouve.getPrenom() }} </td>
            <td>{{ adherentTrouve.getDateAdhesion() }} </td>
            <td>{{ adherentTrouve.getEmail() }} </td>
            <td><a class="btn btn-secondary" href="{{path('admin_accueil')}}" role="button">Modifier</a></td>
            <td><a class="btn btn-secondary" href="{{path('admin_accueil')}}" role="button">Afficher</a></td>
          </tr>
          {%  endfor %} 
        </tbody>

      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<p class="small text-center text-muted my-5">
  <em>More table examples coming soon...</em>
</p>

{% endblock %}

      